<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008207391772-6n4inpasep7pobeblamn22nutmmbajbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008207391772-6n4inpasep7pobeblamn22nutmmbajbv</string>
	<key>API_KEY</key>
	<string>AIzaSyBYYLjYAQhSqBXPp9mJNyUbSNi2qffU314</string>
	<key>GCM_SENDER_ID</key>
	<string>1008207391772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habitus</string>
	<key>PROJECT_ID</key>
	<string>habitos-app-1b86b</string>
	<key>STORAGE_BUCKET</key>
	<string>habitos-app-1b86b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008207391772:ios:b23c4d826787e5c4ff83d9</string>
</dict>
</plist>